.myblog-mdrender {
  font-size: 15px;
  line-height: 1.75;

  &> :not(pre) {
    margin: 0 15px;
  }

  blockquote {
    color: #999;
    border-left: .25em solid #dfe2e5;
    padding-left: 1em;
    background-color: #f8f8f8;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1em;
    margin-bottom: 1em;

    ul {
      padding-left: 0.5em;
    }
  }

  code {
    &:not(.hljs) {
      background-color: #fff5f5;
      color: #ff502c;
      font-size: .87em;
      padding: .065em .4em;
    }
  }

  pre {
    code {
      padding: 1.25rem 1.5rem;
    }
  }

  p {
    margin-top: 22px;
    margin-bottom: 22px;
    line-height: inherit;
  }

  @media screen and (max-width: 800px) {
    img {
      margin: 0;
      width: 100%;
    }
  }

}